/* Product best sellers */
.product-best-sellers {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw 4vw;
}

.product-best-sellers__title {
    user-select: none;
    color: var(--text-color);
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.product-best-sellers__title::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: -16px;
    right: -16px;
    top: 50%;
    background-color: #d9d9d9;
    z-index: 0;

}

.product-best-sellers__title h3 {
    position: relative;
    display: inline-block;
    margin: 16px 0;
    padding: 0 16px;
    background-color: #fff;
}

.product-best-sellers__item {
    padding: 6px;
}

.product-best-sellers__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.item__img-wrap:hover .item__img {
    /* box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05); */
    transform: scale(1.15);
}

.item__img-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease 0s;
}

.item__name-wrap {
    cursor: default;
    flex: 1;
}

.item__name {
    margin: 4px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
}

.item__price {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-color);
    text-align: center;
}

.item__btn {
    min-width: 172px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 12px 20px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: color .5s;
    z-index: 2;
}

.item__btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--text-color);
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}

.item__btn:hover {
    color: #fff;
}

.item__btn:hover:before {
    transform: scaleX(1);
}

.product-best-sellers__border-bottom {
    position: relative;
    width: 100%;
    height: 4vh;
}

.product-best-sellers__border-bottom hr {
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    border: 0;
    border-top: 1px solid var(--text-color);
    margin: 34px 0 0;
}