.banner-header-box {
    background-color: var(--text-color);
    user-select: none;
    display: none;
    height: var(--banner__header-height);
}

.banner-link {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 300;
}